$FontRegular: almoni-tzar-regular;
$FontBold: almoni-tzar-bold;
$FontDl: almoni-neue-dl;

$TextColor: #23445a;
$LinkColor: #0084f4;
$PrimaryColor: #18c746;
$WhiteColor: #fff;
$GeneralBackgroundColor: #ffdcdc;
